<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1005970319744-fadglokea1jqckic68vi30nica95i3gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005970319744-fadglokea1jqckic68vi30nica95i3gc</string>
	<key>API_KEY</key>
	<string>AIzaSyBzfbWs4HnWgHYYddqnVZtJ7-jtnnzocAs</string>
	<key>GCM_SENDER_ID</key>
	<string>1005970319744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owenharper.harpersPOS</string>
	<key>PROJECT_ID</key>
	<string>harperspos</string>
	<key>STORAGE_BUCKET</key>
	<string>harperspos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005970319744:ios:a39fd388e5f600e2</string>
	<key>DATABASE_URL</key>
	<string>https://harperspos.firebaseio.com</string>
</dict>
</plist>